<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\SalesOrdersDataExporter\Model\Provider\CustomAttribute">
        <plugin name="beacon_log_additional_data" type="Magento\BeaconDemo\Plugin\LogAdditionalData"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="beacon_modify_order" type="Magento\BeaconDemo\Plugin\ModifyOrder"/>
    </type>
</config>
